<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twoje Zdrowie</title>
    <script src="https://kit.fontawesome.com/8b6176ca44.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TwojeZdrowieBlog.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="img-fluid" src="~/images/TwojeZdrowieLogo.PNG" alt="Logo TwojeZdrowie" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end ">
                        <li class="nav-item text-center">
                            <a href="#about-us" class="nav-link text-menu" >O nas</a>
                        </li
                        ><li class="nav-item text-center">
                            <a href="#offer" class="nav-link text-menu" >Oferta</a>
                        </li>
                        <li class="nav-item  text-center">
                            <a href="#contact" class="nav-link text-menu">Kontakt</a>
                        </li>
                        <li class="nav-item  text-center">
                            <a href="https://www.instagram.com/twoje.zdrowie/" target="_blank" class="nav-link text-menu"><img src="~/images/instagram.png" alt="instagram" width="48px" height="48px"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    <footer class="footer text-muted">
        <div class="container ">
            <p class="text-end">&copy; 2022 - TwojeZdrowieBlog - <a asp-controller="Home" asp-action="Privacy">Polityka Prywatności</a></p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
