@{
    ViewData["Title"] = "Home Page";
}
<section id="header">
    <div class="bg-dark-header">
        <div class="container-fluid header">
            <div class="container">
                <div class="d-flex col-12 justify-content-center">
                    <h1 class="text-prim-color pt-5">Razem zadbajmy o Twoje Zdrowie!</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about-us" class="container mt-5 mb-3">
    <div class="d-flex flex-wrap align-items-center">
        <div class="col-12 col-lg-6 mt-2 justify-content-center">
            <h2 class="text-prim-color about-us-margins">Cześć! Nazywam się Filip Nowak.</h2>
            <p class="text-about-us about-us-margins">
                Jestem dietetykiem klinicznym i sportowym. Ukończyłem kierunek dietetyka na
                Uniwersytecie Medycznym w Lublinie. Od lat samodzielnie kształcę się, biorę
                udział w szkoleniach, czytam artykuły i wykorzystuje w praktyce swoją nabytą
                wiedzę z zakresu żywienia i suplementacji.
            </p>
            <p class="text-about-us about-us-margins">
                Na codzień mam przyjemność współpracować z osobami, których głównym
                celem jest zmiana sylwetki, poprawa osiągów sportowych i nauka
                prawidłowych nawyków żywieniowych. Chcesz do nich dołączyć? Śmiało!
                Pokażę Ci, że to wszystko co pozornie trudne jest prostsze niż myślisz.
            </p>
            <p class="text-about-us about-us-margins">
                Dietetyka to moja pasja! Staram się codziennie dzielić nią z innymi za
                pośrednictwem moich Social Media i nie tylko. Piwko, lody i pizza na diecie?
                Gwarantuje Ci, że znajdzie się na nie miejsce w twoim jadłospisie jeśli tylko
                chcesz. Nauczę Cię rozsądnego podejścia do zdrowego odżywiania, a to
                umożliwi Ci utrzymywanie uzyskanych efektów przez całe życie.
            </p>
        </div>
        <div class="col-12 col-lg-6 mt-2 ml-2">
            <img class="img-fluid" src="~/images/Filip.png" alt="Filip dietetyk z Twoje Zdrowie" />
        </div>
    </div>
    <div class="d-flex flex-wrap align-items-center mt-5">
        <div class="col-12 col-lg-6 mt-2 ml-2">
            <img class="img-fluid" src="~/images/Adam.png" alt="Adam trener personalny z Twoje Zdrowie" />
        </div>
        <div class="col-12 col-lg-6 mt-2 justify-content-center">
            <h2 class="text-prim-color about-us-margins">Cześć, z tej strony Adam Szuba.</h2>
            <p class="text-about-us about-us-margins">
                Cześć, z tej strony Adam Szuba. Interesuje się zdrowym stylem życia,
                natomiast swoją wiedzę kierunkuje głównie w stronę treningu siłowego. Sam
                trenuje od 6 lat na siłowni.
            </p>
            <p class="text-about-us about-us-margins">
                Na co dzień pracuje &quot;na etacie&quot;, jednak czas po pracy przeznaczam na stały
                rozwój w zakresie treningu siłowego. Uczestniczyłem w wielu szkoleniach
                stacjonarnych, a także online ucząc się od najlepszych specjalistów w branży.
                Wiedzę teoretyczną staram się przekładać na praktykę, dlatego też pomagam
                innym spełniać cele sylwetkowe czy siłowe.
            </p>
            <p class="text-about-us about-us-margins">
                Ciągle trenujesz bez planu? Od dłuższego czasu nie robisz żadnego
                progresu? Świetnie się składa, bo jestem tu żeby pomóc rozwiązać Ci te i inne
                problemy. Podejście indywidualne jest dla mnie najważniejsze.
            </p>
        </div>
    </div>
</section>
<section id="offer" class="container mt-5 mb-3">
    <div class="row justify-content-between align-items-center">
        <h4 class="text-prim-color text-center my-5">Współpraca dietetyczna</h4>
        <div class="col-12 col-lg-4 text-center mb-3">
            <img class="img-fluid" src="~/images/Jadłospis.png" alt="Jadłospis" />
        </div>
        <div class="col-12 col-lg-4 text-center mb-3">

            <img class="img-fluid" src="~/images/wspólpraca 1 mies.png" alt="Jadłospis" />
        </div>
        <div class="col-12 col-lg-4 text-center mb-3">

            <img class="img-fluid" src="~/images/współpraca 3 mies.png" alt="Jadłospis" />
        </div>

        <h4 class="text-prim-color text-center my-5">Współpraca treningowa</h4>

        <div class="col-12 col-lg-4 text-center mb-3">
            <img class="img-fluid" src="~/images/plan treningowy.png" alt="Plan treningowy" />
        </div>
        <div class="col-12 col-lg-4 text-center mb-3">
            <img class="img-fluid" src="~/images/wspolpraca trening 1 mies.png" alt="Plan treningowy" />
        </div>
        <div class="col-12 col-lg-4 text-center mb-3">
            <img class="img-fluid" src="~/images/wspolpraca trening 3 mies.png" alt="Plan treningowy" />

        </div>

        <h4 class="text-prim-color text-center my-5">Konsultacje oraz współpraca kompleksowa</h4>

        <div class="col-12 col-lg-4 text-center mb-3">
            <img class="img-fluid" src="~/images/konsultacja.png" alt="konsultacja 60 minut." />
        </div>
        <div class="col-12 col-lg-4 text-center mb-3">
            <img class="img-fluid" src="~/images/wspolpraca kompleksowa 1 mies.png" alt="współpraca kompleksowa 1 mesiąc" />
        </div>
        <div class="col-12 col-lg-4 text-center mb-3">
            <img class="img-fluid" src="~/images/wspolpraca kompleksowa 3 mies.png" alt="współpraca kompleksowa 3 miesiące." />
        </div>
    </div>
</section>
<section id="contact" class="container mt-5 mb-3">
    <div class="row justify-content-between align-items-center">
        <div class="col-12 mb-3">
            <h4 class="text-prim-color text-center">Kontakt</h4>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <h5 class="text-center mb-3">Filip Nowak</h5>
            <p class="text-center m-0"><a href="tel:+48505397080" class="text-center"> <i class="fas fa-phone"> +48 505 397 080</i></a></p>
            <p class="text-center m-0"><a href="mailto:fnowak.diet@gmail.com" class="text-center"> <i class="fas fa-at"> fnowak.diet@gmail.com</i></a></p>
        </div>
        <div class="col-12 col-sm-6 mb-3">
            <h5 class="text-center mb-3">Adam Szuba</h5>
            <p class="text-center m-0"><a href="tel:+48693122497"> <i class="fas fa-phone"> +48 693 122 497</i></a></p>
            <p class="text-center m-0"><a href="mailto:szubaa2024@gmail.com"> <i class="fas fa-at"> szubaa2024@gmail.com</i></a></p>
        </div>
    </div>
</section>
